.btn {
    background-color: #e84545;
    color: #fff;
    font-size: 13px;
    font-family: 'ralewaysemibold';
    text-transform: uppercase;
    text-align: center;
    border-radius: 3px;
    border: none;
    line-height: 1;
    padding: 18px 50px;
}
.btn:hover {
    background-color: #66697e;
    color: #fff;
}